





.viewer .content {


  &--wrapper{

  }


  &--inner {
    --content-inner-pad-top: 6rem;
    --content-inner-pad-bottom: 4.5rem;
    --content-inner-pad-y: calc(var(--content-inner-pad-top) + var(--content-inner-pad-bottom));
    --content-inner-pad-x: 8rem;
    padding: var(--content-inner-pad-top) var(--content-inner-pad-x) var(--content-inner-pad-bottom) var(--content-inner-pad-x);
    height: calc(100% - var(--content-inner-pad-y));
    @include flex-col-between;
  }


  @include flex-col;

  &--col {
  }







}

