.viewer .content {
  &--wrapper {
  }

  &--inner {
    --content-inner-pad-top: 5.5rem;
    --content-inner-pad-bottom: 4.5rem;
    --content-inner-pad-y: calc(var(--content-inner-pad-top) + var(--content-inner-pad-bottom));
    // --content-inner-pad-x: 8rem;
    --content-inner-pad-x: 6rem;
    padding: var(--content-inner-pad-top) var(--content-inner-pad-x) var(--content-inner-pad-bottom) var(--content-inner-pad-x);
    // height: calc(100% - var(--content-inner-pad-y));
    // height:100%;
    height: calc(100% - var(--content-inner-pad-y));
    @include flex-col-between;

    --content-inner-max-height: calc(100% - var(--content-inner-pad-y));
    --content-inner-max-height_dock: calc(100% - var(--dock-height) - var(--content-inner-pad-y));
    

    max-height: weighted-average(var(--content-inner-max-height_dock), var(--content-inner-max-height), var(--content-has-dock));

    overflow:hidden;

    @include xxl-down{
      --content-inner-pad-top: 5.25rem;
      --content-inner-pad-bottom: 4.5rem;
      --content-inner-pad-x: 4rem;
  
    }

    // PAGE_LOAD_DELAY viewProvider.js
    transition:  opacity 0.175s;

    &__loading{
      opacity:0;
    }

    &__loaded{
      opacity:1;
    }


  }

  @include flex-col;

  &--col {
  }

  &--visual {
    padding-top: calc(var(--h3-size) + var(--viewer-modal-margin-top));
  }
}

@mixin content-pad_thin {
  // $pad: 2.75rem;
  $pad: 3.25rem;
  --content-inner-pad-top: #{$pad};
  --content-inner-pad-bottom: #{$pad};
  --content-inner-pad-x: #{$pad};

  $margin: 0.5rem;
  margin-top: #{-$margin};
  margin-bottom: #{$margin};
}





.viewer .content {
  &--inner__split {
    @include content-pad_thin;
    --viewer-modal-margin-top: 1rem;
    @include flex-row;
    // gap: 3rem;
    gap: 3.25rem;
  }

  &--body__split {
    @include flex-col;
    @include col-width(7);
  }

  &--visual__split {
    @include col-width(5);
    @include flex-col;
  }

  &--body__specialty {
    @include col-width(7);
    
    @include xxl-down{
      @include col-width(6);
    }
  }

  &--visual__specialty {
    @include col-width(5);
    
    @include xxl-down{
      @include col-width(6);
    }
  }

  &--graphic__split {
    @include img-contain;
    @include s(90%);
    margin: auto;
  }

  &--modal__split {
    @include viewer-modal;

    --viewer-modal-columns: 1;
    --viewer-modal-rows: 0;
    // --viewer-modal-gap: 3rem;
    --viewer-modal-row-gap: 3.25rem;
    --viewer-modal-column-gap: 3rem;
    --viewer-modal-row-gaps: calc((var(--viewer-modal-rows) - 1) * var(--viewer-modal-row-gap));

    --viewer-modal-pad-bottom: 3.25rem;

    margin-top: var(--viewer-modal-margin-top);
    padding-bottom: var(--viewer-modal-pad-bottom);

    display: grid;
    grid-template-columns: repeat(var(--viewer-modal-columns), 1fr);
    grid-template-rows: repeat(var(--viewer-modal-rows), calc((100% - var(--viewer-modal-row-gaps)) / 3));
    row-gap: var(--viewer-modal-row-gap);
    column-gap: var(--viewer-modal-column-gap);

    --h: calc(100% - var(--viewer-modal-pad-top) - var(--viewer-modal-pad-bottom) - var(--h3-size) - var(--viewer-modal-margin-top));
    height: var(--h);
    max-height: var(--h);
  }
}






.viewer .content {
  &--body__specialty {
    @include flex-col-center;
  }

  &--modal__specialty {
    height: unset;
    max-height: unset;
  }
}
