
.viewer .sidebar {
    @include viewer-border(right);

    $width: 3.5;
    @include col-width($width);
    max-width: col-width($width);
    min-width: col-width($width);
  
    &--panel {
      // padding: calc(var(--viewer-inner-pad) * 0.725) var(--viewer-inner-pad);
      padding: calc(var(--viewer-inner-pad) * 0.6) var(--viewer-inner-pad);
      @include viewer-border(bottom);
    }
  
    &--button {
      @include flex-row;
      @include trans;
      @include hover {
        background-color: $col-primary;
        cursor: pointer;
      }
    }
  
    &--index {
      color: $col-primary;
      margin-right: 1rem;
      @include trans;
      @include hover(".sidebar--button", ".sidebar--index") {
        color: $col-background;
      }
    }
    &--name {
      color: $col-dim;
      margin-right: 1rem;
      @include trans;
      @include hover(".sidebar--button", ".sidebar--name") {
        color: $col-light;
      }
    }
  
    &--title {
      padding: calc(var(--viewer-inner-pad) * 0.65) var(--viewer-inner-pad);
    }
  }
  