.viewer .sidebar {

  --sidebar-index-width: 1.45rem;
  --sidebar-index-margin-right: 1rem;
  --transition: 0.175s;


  @include viewer-border(right);

  $width: 3.75;
  @include col-width($width);
  max-width: col-width($width);
  min-width: col-width($width);
  @include flex-col;

  &--panel {
    // padding: calc(var(--viewer-inner-pad) * 0.725) var(--viewer-inner-pad);
    // padding: calc(var(--viewer-inner-pad) * 0.1) var(--viewer-inner-pad);
    // padding: calc(var(--viewer-inner-pad) * 0.5) var(--viewer-inner-pad);
    padding: calc(var(--viewer-inner-pad) * 0.4) calc(var(--viewer-inner-pad) * 0.95);
    @include viewer-border(bottom);
    
    @include xxl-down{
      padding: calc(var(--viewer-inner-pad) * 0.35) calc(var(--viewer-inner-pad) * 0.85) ;
    }
  }

  &--text{
    @include flex-row;
  }


  &--button {
    @include flex-row;
    align-items: center;
    @include hover(".sidebar--panel-wrapper", ".sidebar--button") {
      background-color: $col-primary;
      cursor: pointer;
    }
    @include hover(".sidebar--back") {
      background-color: $col-primary;
      cursor: pointer;
    }
    
  }


  &--icon{
    margin-left:auto;
    @include img-contain;
    @include s(1.15rem);
    margin-right: -0.25rem;
    background-color: $col-light;

    @include hover(".sidebar--panel-wrapper", ".sidebar--icon") {
      transform: rotate(-90deg);
      background-color: $col-background;
    }
    @include hover(".sidebar--back", ".sidebar--icon") {
      transform: rotate(-90deg);
      background-color: $col-background;
    }

  }



  // &--back-wrapper {
  //   // margin-top: auto;
  //   // border: none;
  //   // padding-bottom: calc(var(--viewer-inner-pad) * 0.75);
  //   height: 100%;
  //   @include flex-col-end;
  //   align-items: flex-start;
  // }

  &--back {
    margin-top: auto;
    border: none;
    padding-bottom: calc(var(--viewer-inner-pad) * 0.75);
    height: 100%;
    @include flex-col-end;
    align-items: flex-start;
  }

  &--back-inner{
    @include flex-row;
    align-items:center;
  }
  
  
  &--back-icon-wrapper {
    width: var(--sidebar-index-width);
    @include flex-row-center;
    margin-right: var(--sidebar-index-margin-right);
  }
  
  &--back-icon {
    margin: unset;
    background-color: $col-primary;

    @include hover(".sidebar--panel-wrapper", ".sidebar--back-icon") {
      transform: translate(-8%);
    }
    @include hover(".sidebar--back", ".sidebar--back-icon") {
      transform: translate(-8%);
    }

  }
  

  &--index {
    color: $col-primary;
    margin-right: var(--sidebar-index-margin-right);
    width: var(--sidebar-index-width);
    @include trans;
    @include hover(".sidebar--panel-wrapper", ".sidebar--index") {
      color: $col-background;
    }
    @include hover(".sidebar--back", ".sidebar--index") {
      color: $col-background;
    }

  }
  &--name {
    color: $col-dim;
    margin-right: 1rem;
    @include trans;
    @include hover(".sidebar--panel-wrapper", ".sidebar--name") {
      color: $col-light;
    }
    @include hover(".sidebar--back", ".sidebar--name") {
      color: $col-light;
    }
    white-space: nowrap;

  }

  &--title {
    padding: calc(var(--viewer-inner-pad) * 0.65) var(--viewer-inner-pad);
  }
}
