

$b-width: 0.125rem;
$dot-width: 0.625rem;

:root{
    background-color: #1A1918;
    color: #FFFFFF;
    --transition:0.115s;
}




// :root {
//   // --site-pad-top: 7rem;
//   // --site-pad-x: 2rem;
//   --transition: 0.1s;
//   $b-rad: 0.5rem;
//   $b-rad_less: 0.3125rem;
//   --b-rad: #{$b-rad};
//   --b-rad_less: #{$b-rad_less};

//   --font-height-body: Max(var(--font-size-body), var(--font-leading-body));
//   --font-height-h1: Max(var(--font-size-h1), var(--font-leading-h1));
//   --screen-width: calc(100vw - var(--scrollbar-width)); 

//   --sfh: 4.9406564584124654e-324;
// }


// html {
//   scroll-behavior: smooth;
//   --zoom: 1;

//   zoom: var(--zoom);

//   @media (min-width: 2000px) and (max-width: 2399px) {
//     // 2304 x 1440	Retina (Apple only)
//       --zoom: 1.25;
//   }
//   @media (min-width: 2400px) and (max-width: 2599px) {
//     // 2k - 2560 x 1440
//       --zoom: 1.5;
//   }
//   @media (min-width: 2600px) and (max-width: 3299px) {
//     // 3K - 3200 x 1800
//       --zoom: 1.75;
//   }
//   @media (min-width: 3300px) and (max-width: 4000px) {
//     // 4K - 3840 x 2160
//       --zoom: 2;
//   }
// }

// body {
//   background-color: $col-background;
//   }
// // .base-page-size{
// // background-color: $col-background;
// // }

// .overflow__ellipsis {
//   height: var(--rounded-height);
//   overflow: hidden;
//   display: -webkit-box;
//   -webkit-line-clamp: var(--visible-lines);
//   -webkit-box-orient: vertical;
//   text-overflow: ellipsis;
// }

// .noscroll {
//   overflow: hidden;
//   // overflow: -moz-hidden-unscrollable;
//   touch-action:none;

  
// }

// .scrollauto {
//   scroll-behavior: auto !important;
//   // * {
//   //   scroll-behavior: auto !important;
//   // }
// }

// .nobr {
//   white-space: nowrap;
// }

// .off {
//   opacity: 0;
//   display: none !important;
// }
// .on {
//   opacity: 1;
// }
// .tran,
// .tran1 {
//   opacity: 0;
// }
// .tran2 {
//   opacity: 1;
// }

// .cursor-grabbed {
//   cursor: grabbing !important;
// }

// .cursor-ew-resize {
//   cursor: ew-resize !important;
// }



