.viewer .compaction {
  --compaction-brace-width: 2.75rem;
  --compaction-line-width: 2rem;
  --compaction-label-margin: 0.5rem;

  &--inner {
    --content-inner-pad-x: 3rem;
    --content-inner-pad-top: 4rem;

    --modal-top-margin: 3rem;
  }

  &--body {
    @include flex-row;
    height: 100%;
    column-gap: 3rem;
  }

  &--col {
    @include flex-col;
  }

  &--visual {
    @include flex-row-center;
    // margin-top: auto;
    height: calc(100% - var(--modal-top-margin) - var(--compaction-modal-height));
  }

  &--graphic {
    display: flex;
  }

  &--svg {
    @include img-contain;
  }

  &--modal-wrapper {
    margin-top: var(--modal-top-margin);
  }

  &--modal {
    @include viewer-modal;

    --viewer-modal-pad-top: 1.15rem;
    --viewer-modal-pad-bottom: 1.65rem;
    padding: var(--viewer-modal-pad-top) 1.5rem var(--viewer-modal-pad-bottom) 1.5rem;
    // @include flex-col;
    height: calc(100% - var(--viewer-modal-pad-top) - var(--viewer-modal-pad-bottom));
    min-height: calc(var(--height) - var(--viewer-modal-pad-top) - var(--viewer-modal-pad-bottom));

    .viewer--body {
      margin-top: 0.75rem;
    }
  }

  &--brace-wrapper {
    //   height: var(--roll-height);
    @include flex-col;
    align-items: flex-end;
    margin-top: calc((#{$b-width} * 2) * -1);

    transform: translateY(calc((#{$b-width} * 2) * -1));


// opacity: 0;
// transition-duration: 0.3s;
// transition-property: opacity;
// transition-delay: 0.2s;
// transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
//     @at-root .compaction--col__inactive .compaction--brace-wrapper{
//       opacity: 0;
//     }
//     @at-root .compaction--col__active .compaction--brace-wrapper{
//       opacity: 1;
//     }

  }

  &--brace-inner {
    position: relative;
    //   @include flex-row;
    @include flex-row;
    margin-top: auto;
    height: var(--roll-height);
  }

  &--brace {
    width: var(--compaction-brace-width);
    border: #{$b-width} solid $col-primary;
    border-left-width: 0rem;
    // margin-top: auto;
    // height: var(--rol-height);
    @include my-auto;
    
    transition: 0.85s;
    transition-timing-function: cubic-bezier(0.85, 0, 0, 1);    
    @at-root .compaction--col__inactive .compaction--brace{
      opacity: 0;
      height: 0px;
    }
    @at-root .compaction--col__active .compaction--brace{
      opacity: 1;
      height: var(--roll-height);
    }


  }

  &--line {
    width: var(--compaction-line-width);
    height: $b-width;
    background-color: $col-primary;
    @include my-auto;
    @include flex-row-end;
    position: relative;

    transition-duration: 0.65s;
    transition-delay: 0.9s;
    // transition-timing-function: cubic-bezier(0.85, 0, 0, 1);    
    @at-root .compaction--col__inactive .compaction--line{
      opacity: 0;
    }
    @at-root .compaction--col__active .compaction--line{
      opacity: 1;
    }

  }

  &--dot {
    @include viewer-dot;
    margin-top: calc(#{$dot-width} / -2.5);
  }

  &--label {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: calc(var(--compaction-line-width) + var(--compaction-label-margin));
  }
}
