.viewer .end {
//   &--inner {
//     @include flex-row;
//   }

  &--body {
    @include col-width(7);
  }

  &--visual {
    @include col-width(5);
  }

  &--modal {
    --viewer-modal-columns: 1;
    --viewer-modal-rows: 2;
    @include flex-col;
  }

  &--graphic {
    @include img-contain;
    @include s(90%);
    margin: auto;
  }


}
