


.viewer .paper {
//   &--inner {
//   }

  &--body {
    @include col-width(7);
  }


  &--modal {
    --viewer-modal-columns: 2;
    --viewer-modal-rows: 3;
  }

  &--h2 {
    color: $col-primary;
  }


  &--stat{
    @include flex-col;


  }

  &--stat-row {

    --bar-margin: 0rem;
    --after-bar-margin: 0rem;
    --before-bar-margin: 0rem;


    // &__bar {
    //   --bar-margin: -1.5rem !important;
    // }
    // &__after-bar {
    //   --after-bar-margin: -0.95rem !important;
    // }
    // &__before-bar {
    //   --before-bar-margin: -0.25rem !important;
    // }
    // // &__bar-last {
    // //   margin-top: -1rem !important;
    // // }

    &__bar {
      --bar-margin: -0.35rem;
      

    }
    // &__after-bar {
    //   --after-bar-margin: -0.5rem;
    // }
    // &__before-bar {
    //   --before-bar-margin: -0.4rem;
    // }

    // &__bar-last {
    //   margin-top: -1.15rem !important;
    // }



    margin-top: calc(var(--bar-margin) + var(--after-bar-margin) + var(--before-bar-margin));

  }

  //   &--stat {
  //     margin-top: -0.25rem;
  //   }

  &--description {
    margin-top: 0.25rem;

    max-height:100%;


  }


  &--visual {
    @include col-width(5);
    // @include flex-col;
  }

  &--graphic {
    height:100%;
    width:100%;
    margin-top:0rem!important;
  }


  
}
