


.viewer .paper {
//   &--inner {
//   }

  &--body {
    @include col-width(7);
  }


  &--modal {
    --viewer-modal-columns: 2;
    --viewer-modal-rows: 3;
  }

  &--h2 {
    color: $col-primary;
  }

  &--stat-row {
    &__bar {
      margin-top: -1.65rem !important;
    }
    &__after-bar {
      margin-top: -0.85rem !important;
    }
  }

  //   &--stat {
  //     margin-top: -0.25rem;
  //   }

  &--description {
    margin-top: 0.25rem;
  }


  &--visual {
    @include col-width(5);
    @include flex-col;
  }

  &--graphic {
    @include img-contain;
    @include s(90%);
    margin: auto;
  }


  
}
