.roll-types {
  --roll-types-col-gap: 8rem;
  --roll-types-mouse-leave-timeout: 0.35s;
  --roll-types-transition: 0.35s;

  display: flex;

  &--inner {
    padding: 6rem 8rem;
    width: 100%;
    @include flex-col-center;

}

  &--body {
    height: 95%;
    @include flex-row;
    gap: var(--roll-types-col-gap);
  }

  &--col {
    @include col-width(4);
    @include flex-col;
    gap: 2.5rem;
    cursor: pointer;
  }

  &--head {
    text-align: center;
    transition: var(--roll-types-transition);

    &__active {
      opacity: 1;
    }
    &__inactive {
      opacity: 0.25;
    }
    &__idle {
      opacity: 1;
    }
  }

  &--label {
    &__main {
      color: $col-light;
      font-size: 1.85rem;
    }
    &__sub {
      font-size: 1.15rem;
    }
  }

  &--visual {
    position: relative;
    @include flex-row-center;
    @include s(100%);
  }

  &--graphic {
    position: absolute !important;
    @include s(100%);
    @include mx-auto;

    // @include trans;

    transition: var(--roll-types-transition);

    &__active {
      transform: scale(1.025);
    }
    &__inactive {
      transform: scale(0.985);
    }
    &__idle {
      transform: scale(1);
    }
  }

  &--graphic-vector {
    &__active {
      opacity: 1;
    }
    &__inactive {
      opacity: 0;
    }
    &__idle {
      opacity: 0;
    }
  }

  &--graphic-photo {
    &__active {
      opacity: 0.5;
    }
    &__inactive {
      opacity: 0.15;
    }
    &__idle {
      opacity: 1;
    }
  }

  &--description {
    // min-height: 10rem;
    width: 100%;
    @include mx-auto;
    position: relative;
  }

  &--modal {
    position: absolute;
    padding: 2rem 2rem;
    transform: translateY(-80%);
    background-color: rgba($col-background, 1);
    outline: solid 0.125rem $col-primary;
    pointer-events: none;

    @include in-out(
      (
        initial: (
          opacity: 0,
          transition: "transform 0.5s, opacity 0.5s, visibility 0s 0.2s",
        ),
        animate: (
          opacity: 1,
          transition: "transform 0.5s, opacity 0.5s, visibility 0s 0s",
        ),
        exit: (
          opacity: 0,
          transition: "transform 0.5s, opacity 0.5s, visibility 0s 0.2s",
        ),
      )
    );
  }
}
