.roll-types {
  --roll-types-col-gap: 6rem;
  display: flex;

  &--inner {
    padding: 5.5rem 6rem;
    width: 100%;
    @include flex-col;
    gap: 2rem;
  }

  &--body {
    height: 100%;
    @include flex-row;
    gap: var(--roll-types-col-gap);
  }

  &--col {
    @include col-width(4);
    @include flex-col;
    gap: 2.5rem;
    cursor: pointer;
  }

  &--head {
    text-align: center;
  }

  &--label {
    &__main {
      color: $col-light;
      font-size: 1.85rem;
    }
    &__sub {
      font-size: 1.15rem;
    }
  }

  &--visual {
    position: relative;
    @include flex-row-center;
    @include s(100%);
  }

  &--graphic {
    position: absolute !important;
    @include s(100%);
    @include mx-auto;

    @include trans;

    &__active {
      transform: scale(1.025);
    }
    &__inactive {
      transform: scale(1);
    }
  }

  &--graphic-vector {
    &__active {
      opacity: 1;
    }
    &__inactive {
      opacity: 0;
    }
    &__idle{
        opacity: 0;
    }
  }

  &--graphic-photo {
    &__active {
      opacity: 0.15;
    }
    &__inactive {
      opacity: 0.25;
    }
    &__idle{
        opacity: 1;
    }
  }

  &--description {
    // min-height: 10rem;
    width: 100%;
    @include mx-auto;
    position: relative;
  }

  &--modal {
    position: absolute;
    padding: 2rem 2rem;
    transform: translateY(-100%);
    // margin-top: -20%;
    // min-width:100%;
    // height: calc(100% - (var(--roll-types-modal-pad) * 2));

    background-color: rgba($col-background, 1);
    // background-color: $col-background;
    outline: solid 0.125rem $col-primary;

    // @include no-select;
    pointer-events: none;

    @include in-out(
      (
        initial: (
          opacity: 0,
          transition: "transform 0.5s, opacity 0.5s 0s, visibility 0s 0.2s",
        ),
        animate: (
          opacity: 1,
          transition: "transform 0.5s, opacity 0.5s 0s, visibility 0s 0s",
        ),
        exit: (
          opacity: 0,
          transition: "transform 0.5s, opacity 0.5s 0.5s, visibility 0s 0.2s",
        ),
      )
    );
  }
}
