.schematic {
  --schematic-transition: 0.1s;

  &--wrapper {
  }

  //   &--inner {
  //     padding: 6rem 8rem 4.5rem 8rem;
  //     width: 100%;
  //     @include flex-col-between;
  //   }

  &--graphic {
    @include img-contain;

    &__active {
      opacity: 1;
    }
    &__hidden {
      opacity: 0;
    }
    &__idle {
      opacity: 1;
    }


    // &__loading {
    //   --schematic-transition: 0s;
    // }

    // &__loaded {
    //   --schematic-transition: 0.1s;
    // }
  }

  &--vector {
    transition: var(--schematic-transition);

    &__active {
      opacity: 1;
    }
    &__hidden {
      opacity: 0;
    }
    &__idle {
      opacity: 0;
    }
  }
}
