.selection {
  --selection-col-gap: 8rem;
  --selection-mouse-leave-timeout: 0.35s;
  --selection-transition: 0.35s;
  --modal-top-margin: 3.5rem;

  display: flex;

  &--inner {
    --content-inner-pad-x: 8rem !important;

    @include xxl-down {
      --content-inner-pad-x: 6rem !important;
    }
    @include xl-down {
      --content-inner-pad-x: 4rem !important;
    }
  }

  &--body {
    height: calc(100% - var(--modal-top-margin) - var(--selection-modal-height));
    @include flex-row-between;
    // gap: var(--selection-col-gap);

    transition: opacity 0.5s;
    &__loaded {
      opacity: 1;
    }
    &__loading {
      opacity: 0;
    }
    
  }

  &--col {
    // @include col-width(4);
    // @include col-width(1);
    @include col-width(2.25);
    @include flex-col;
    gap: 2.5rem;
    cursor: pointer;
    align-items: center;
  }

  &--head {
    text-align: center;
    transition: var(--selection-transition);

    &__active {
      opacity: 1;
    }
    &__inactive {
      opacity: 0.25;
    }
    &__idle {
      opacity: 1;
    }
  }

  &--label {
    &__main {
      color: $col-light;
      // font-size: 1.85rem;
      font-size: calc(var(--h2-font-size) * 0.875);
      white-space: nowrap;
    }
    &__sub {
      margin-top:0.15rem;
      // font-size: 1.15rem;
      font-size: calc(var(--body-font-size) * 1.15);
      white-space: nowrap;
    }
  }

  &--visual {
    position: relative;
    @include flex-row-center;
    @include s(100%);
  }

  &--graphic {
    position: absolute !important;
    @include s(100%);
    @include mx-auto;

    // @include trans;

    transition: var(--selection-transition);

    &__active {
      transform: scale(1.025);
    }
    &__inactive {
      transform: scale(0.985);
    }
    &__idle {
      transform: scale(1);
    }
  }

  &--graphic-vector {
    &__active {
      opacity: 1;
    }
    &__inactive {
      opacity: 0;
    }
    &__idle {
      opacity: 0;
    }
  }

  &--graphic-photo {
    &__active {
      opacity: 0;
    }
    &__inactive {
      opacity: 0.25;
    }
    &__idle {
      opacity: 1;
    }
  }

  &--description {
    width: 100%;
    @include mx-auto;
    position: relative;
    margin-bottom: auto;
    transform: translateY(var(--modal-top-margin));
  }

  &--modal {
    @include viewer-modal;
    pointer-events: none;
    top: 0;
    position: absolute;

    opacity: 1;

    &__hidden {
      pointer-events: none;
      opacity: 0;
    }

    @include in-out(
      (
        initial: (
          opacity: 0,
          transition: "transform 0.5s, opacity 0.5s, visibility 0s 0.2s",
        ),
        animate: (
          opacity: 1,
          transition: "transform 0.5s, opacity 0.5s, visibility 0s 0s",
        ),
        exit: (
          opacity: 0,
          transition: "transform 0.5s, opacity 0.5s, visibility 0s 0.2s",
        ),
      )
    );
  }
}
