.selection {
  --selection-col-gap: 8rem;
  --selection-mouse-leave-timeout: 0.35s;
  --selection-transition: 0.35s;

  display: flex;

  // &--inner {
  //   padding: 6rem 8rem 4.5rem 8rem;
  //   width: 100%;
  //   @include flex-col-between;
  // }

  &--body {
    height: 70%;
    @include flex-row;
    gap: var(--selection-col-gap);
  }

  &--col {
    @include col-width(4);
    @include flex-col;
    gap: 2.5rem;
    cursor: pointer;
  }

  &--head {
    text-align: center;
    transition: var(--selection-transition);

    &__active {
      opacity: 1;
    }
    &__inactive {
      opacity: 0.25;
    }
    &__idle {
      opacity: 1;
    }
  }

  &--label {
    &__main {
      color: $col-light;
      font-size: 1.85rem;
    }
    &__sub {
      font-size: 1.15rem;
    }
  }

  &--visual {
    position: relative;
    @include flex-row-center;
    @include s(100%);
  }

  &--graphic {
    position: absolute !important;
    @include s(100%);
    @include mx-auto;

    // @include trans;

    transition: var(--selection-transition);

    &__active {
      transform: scale(1.025);
    }
    &__inactive {
      transform: scale(0.985);
    }
    &__idle {
      transform: scale(1);
    }
  }

  &--graphic-vector {
    &__active {
      opacity: 1;
    }
    &__inactive {
      opacity: 0;
    }
    &__idle {
      opacity: 0;
    }
  }

  &--graphic-photo {
    &__active {
      opacity: 0.5;
    }
    &__inactive {
      opacity: 0.15;
    }
    &__idle {
      opacity: 1;
    }
  }

  &--description {
    width: 100%;
    @include mx-auto;
    position: relative;
    margin-bottom: auto;
    transform: translateY(3.15rem);
  }

  &--modal {
    @include viewer-modal;
    pointer-events: none;
    top: 0;

    @include in-out(
      (
        initial: (
          opacity: 0,
          transition: "transform 0.5s, opacity 0.5s, visibility 0s 0.2s",
        ),
        animate: (
          opacity: 1,
          transition: "transform 0.5s, opacity 0.5s, visibility 0s 0s",
        ),
        exit: (
          opacity: 0,
          transition: "transform 0.5s, opacity 0.5s, visibility 0s 0.2s",
        ),
      )
    );
  }
}
