.viewer .sizes {
  &--wrapper {
  }
  --background-pad: 3rem;
  --background-label-pad: 1rem;

  &--inner {
    --content-inner-pad-top: calc(10rem - var(--background-pad));
    --content-inner-pad-bottom: 10rem;
    --content-inner-pad-x: 11rem;
    @include flex-row;
  }

  &--body {
    @include flex-row;
    width: 100%;
    position: relative;
  }

  &--col {
    width: col-width_calc(var(--sizes-columns));
    height: 100%;
    @include flex-col;
  }

  &--graphic {
    height: 100%;
    width: 100%;
    // margin-top: auto;
    aspect-ratio: var(--graphic-width) / var(--graphic-height);
    object-fit: contain;
  }

  &--brace-wrapper {
  }

  &--brace {
    height: 1rem;
    width: 45%;
    margin-top: 1rem;
    @include mx-auto;
    border: solid $b-width $col-primary;
    border-width: 0 $b-width $b-width $b-width;
  }

  &--brace-line {
    height: 2rem;
    width: $b-width;
    background-color: $col-primary;
    @include mx-auto;
  }

  &--brace-dot {
    @include viewer-dot;
    margin-top: calc(#{$dot-width} / -2);
    @include mx-auto;
  }

  &--brace-label {
    margin-top: 0.55rem;
    text-align: center;
  }

  &--background {
    // width: calc(100% + (var(--background-pad) * 2));
    // height: calc(100% + (var(--background-pad) * 1));
    // top: calc(var(--background-pad) * -1);
    position: absolute;
    border: solid $b-width $col-primary;
    border-width: 0 0 $b-width $b-width;
    pointer-events: none;

    // top:0;
    // left: calc(var(--background-pad) * -1);
    left: calc(var(--background-pad) * -1);
    bottom: calc((var(--background-pad) + #{$b-width}) * -1);

    transition-delay: var(--transition-delay);
    transition-duration: var(--transition-duration);
    transition-timing-function: cubic-bezier(0.45, 0.1, 0.1, 1);

    &__active {
      opacity: 1;
      width: calc(100% + (var(--background-pad) * 2));
      height: calc(100% + (var(--background-pad) * 1));
    }
    &__inactive {
      opacity: 0;
      width: 0rem;
      height: 0rem;
    }
  }

  &--background-label {
    position: absolute;

    &__x {
      top: calc(100% + var(--background-label-pad));
      left: 50%;
      transform: translateX(-50%);
    }

    &__y {
      top: 50%;
      // left: calc(var(--background-label-pad) * -1);
      left: calc((var(--background-pad) * -1) - var(--background-label-pad) - #{$b-width} - 0.25rem);
      transform: rotate(-90deg) translateY(-50%);
    }

    will-change: opacity;

    transition-timing-function: ease;
    transition-duration: 0.25s;
    transition-delay: var(--transition-combined);

    &__active {
      opacity: 1;
    }
    &__inactive {
      opacity: 0;
    }
  }
}
