.solid, .fluid, .terpenes {
    .first-render {
      #roll,
      #circle_small,
      #infusion,
      #dash_1,
      #dash_2,
      #circle_large,
      #substance {
        &.step-1 {
          transition: 400ms;
        }
        &.step-2 {
          transition: 400ms;
        }
        &.step-3 {
          transition: 400ms;
        }
        &.step-4 {
          transition: 300ms;
        }
        &.step-5 {
          transition: 500ms;
        }
        &.step-6 {
          transition: 500ms;
        }
      }
  
      #roll {
        opacity: 0;
        &.step-1 {
            opacity: 0.3;
            @at-root .solid #roll, .fluid #roll, .terpenes #roll {
              opacity: 0.3;
            }
        }
        &.step-2 {
        }
        &.step-3 {
        }
        &.step-4 {
        }
      }
      #circle_small {
        opacity: 0;
        //   transform: scale(0) rotate(80deg);
        transform: rotate(80deg);
        transform-origin: 85% 27%;
        transition-duration: 1s !important;
        &.step-1 {
        }
        &.step-2 {
            opacity: 1;
            // transform: scale(1) rotate(0deg);
            transform: rotate(0deg);
        }
        &.step-3 {
        }
        &.step-4 {
        }
      }
      #infusion {
        opacity: 0;
        transform-origin: 85% 27%;
        // transform: scale(0);
        &.step-1 {
        }
        &.step-2 {
          transition-delay: 0.2s;
          opacity: 1;
          //   transform: scale(1);
        }
        &.step-3 {
        }
        &.step-4 {
        }
      }
  
      #dash_1,
      #dash_2 {
        opacity: 0;
        &.step-1 {
        }
        &.step-2 {
        }
        &.step-3 {
          opacity: 1;
        }
        &.step-4 {
        }
      }
  
      #circle_large {
        opacity: 0;
        transform: rotate(-40deg);
        //   transform: translate(391px, -106px) scale(0);
        transform-origin: 17.5% 46.1%;
        transition-duration: 0.8s !important;
      //   transition-duration: 0.8s !important;
        &.step-1 {
        }
        &.step-2 {
        }
        &.step-3 {
        }
        &.step-4 {
      }
      &.step-5 {
            // transform: translate(0px, 0px) scale(1);
            transform: rotate(0deg);
            opacity: 1;
        }
      }
      #substance {
        opacity: 0;
        //   transform: scale(0) rotate(-80deg);
        //   transform: scale(0);
        transform-origin: 96px 260px;
      //   transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
          transition-delay:0.15s!important;
        transition-duration:0.8s!important;
          // transform: rotate(-2.5deg);
          
          &.step-1 {
          }
          &.step-2 {
          }
          &.step-3 {
          }
          &.step-4 {
          }
          &.step-5 {
              // transform: scale(1) rotate(0deg);
              //   transform: scale(1);
              // transform: rotate(0deg);
            opacity: 1;
        }
      }
    }
  }
  