.solid,
.fluid,
.terpenes {
  .first-render {
    #roll,
    #circle_small,
    #infusion,
    #dash_1,
    #dash_2,
    #circle_large,
    #substance {
      &.step-1 {
        transition: 400ms;
      }
      &.step-2 {
        transition: 400ms;
      }
      &.step-3 {
        transition: 400ms;
      }
      &.step-4 {
        transition: 300ms;
      }
      &.step-5 {
        transition: 500ms;
      }
      &.step-6 {
        transition: 500ms;
      }
    }

    #roll {
      opacity: 0;
      &.step-1 {
        opacity: 0.3;
        @at-root .solid #roll,
          .fluid #roll,
          .terpenes #roll {
          opacity: 0.3;
        }
      }
      &.step-2 {
      }
      &.step-3 {
      }
      &.step-4 {
      }
    }

    [id*="blunt"] #circle_small {
      transform-origin: 85% 27%;
    }
    [id*="infused"] #circle_small {
      transform-origin: 428px 145px;
    }

    #circle_small {
      opacity: 0;
      //   transform: scale(0) rotate(80deg);
      transform: rotate(80deg);
      // transform-origin: 85% 27%;
      //   transform-origin: 427px 142px;

      transition-duration: 1s !important;
      &.step-1 {
      }
      &.step-2 {
        opacity: 1;
        // transform: scale(1) rotate(0deg);
        transform: rotate(0deg);
      }
      &.step-3 {
      }
      &.step-4 {
      }
    }
    #infusion {
      opacity: 0;
      transform-origin: 85% 27%;
      // transform: scale(0);
      &.step-1 {
      }
      &.step-2 {
        transition-delay: 0.2s;
        opacity: 1;
        //   transform: scale(1);
      }
      &.step-3 {
      }
      &.step-4 {
      }
    }

    #dash_1,
    #dash_2 {
      opacity: 0;
      &.step-1 {
      }
      &.step-2 {
      }
      &.step-3 {
        opacity: 1;
      }
      &.step-4 {
      }
    }

    [id*="blunt"] #circle_large {
      transform-origin: 17.5% 46.1%;
    }
    [id*="infused"] #circle_large {
      transform-origin: 96px 269px;
    }
    #circle_large {
      opacity: 0;
      transform: rotate(-40deg);
      //   transform: translate(391px, -106px) scale(0);
      //   transform-origin: 17.5% 46.1%;
      transition-duration: 0.8s !important;
      //   transition-duration: 0.8s !important;
      &.step-1 {
      }
      &.step-2 {
      }
      &.step-3 {
      }
      &.step-4 {
      }
      &.step-5 {
        // transform: translate(0px, 0px) scale(1);
        transform: rotate(0deg);
        opacity: 1;
      }
    }
    #substance {
      opacity: 0;
      //   transform: scale(0) rotate(-80deg);
      //   transform: scale(0);
      transform-origin: 96px 260px;
      //   transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
      transition-delay: 0.15s !important;
      transition-duration: 0.8s !important;
      // transform: rotate(-2.5deg);

      &.step-1 {
      }
      &.step-2 {
      }
      &.step-3 {
      }
      &.step-4 {
      }
      &.step-5 {
        // transform: scale(1) rotate(0deg);
        //   transform: scale(1);
        // transform: rotate(0deg);
        opacity: 1;
      }
    }
  }
}

.coating {
  .first-render {
    #roll,
    #coating,
    #brace,
    #substance,
    #circle {
      &.step-1 {
        transition: 500ms;
      }
      &.step-2 {
        transition: 500ms;
      }
      &.step-3 {
        transition: 500ms;
      }
      &.step-4 {
        transition: 500ms;
      }
      &.step-5 {
        transition: 500ms;
      }
      &.step-6 {
        transition: 500ms;
      }
    }

    #roll {
      transition-duration: 500ms !important;
      transition-delay: 0.2s !important;
      opacity: 0;
      &.step-1 {
        opacity: 1;
      }
      &.step-2 {
      }
      &.step-3 {
      }
      &.step-4 {
      }
      &.step-5 {
      }
      &.step-6 {
      }
    }

    [id*="cigarette"] #coating {

        transition-duration: 1.9s !important;
    }

    #coating {
      transition-duration: 1.7s !important;
      transition-timing-function: cubic-bezier(1, 0, 0.2, 0.9) !important;
      @supports not (clip-path: inset(0)) {
        opacity: 0;
      }
      @supports (clip-path: inset(0)) {
        clip-path: inset(100% 0% 0% 0%);
      }
      &.step-1 {
      }
      &.step-2 {
        @supports not (clip-path: inset(0)) {
          opacity: 1;
        }
        @supports (clip-path: inset(0)) {
          clip-path: inset(6% 0% 0% 0%);
        }
      }
      &.step-3 {
      }
      &.step-4 {
      }
      &.step-5 {
      }
      &.step-6 {
      }
    }
    #brace {
      opacity: 0;
      transition-duration: 0.3s !important;
      &.step-1 {
      }
      &.step-2 {
      }
      &.step-3 {
        opacity: 1;
      }
      &.step-4 {
      }
      &.step-5 {
      }
      &.step-6 {
      }
    }
    #substance {
      opacity: 0;
      transition-duration: 0.8s !important;
      &.step-1 {
      }
      &.step-2 {
      }
      &.step-3 {
      }
      &.step-4 {
        opacity: 1;
      }
      &.step-5 {
      }
      &.step-6 {
      }
    }
    #circle {
      opacity: 0;
      transform: rotate(-40deg);
      transition-duration: 0.8s !important;
      &.step-1 {
      }
      &.step-2 {
      }
      &.step-3 {
      }
      &.step-4 {
        opacity: 1;
        transform: rotate(0deg);
      }
      &.step-5 {
      }
      &.step-6 {
      }
    }

    [id*="traditional"] #circle,
    [id*="infused"] #circle {
      transform-origin: 96px 209px;
    }
    [id*="cigarette"] #circle {
      transform-origin: 94px 172px;
    }
    [id*="blunt"] #circle {
      transform-origin: 93px 203px;
    }

  }
}
