$viewer-border: $b-width solid $col-light;
$grid-size: 3.5rem;

@mixin viewer-border($side: all) {
  @if $side == all {
    border: $b-width solid $col-light;
  } @else if $side == top {
    border-top: $b-width solid $col-light;
  } @else if $side == bottom {
    border-bottom: $b-width solid $col-light;
  } @else if $side == left {
    border-left: $b-width solid $col-light;
  } @else if $side == right {
    border-right: $b-width solid $col-light;
  } @else {
    @error "Invalid value for $side. Expected 'top', 'bottom', 'left', 'right', or 'all'.";
  }
}

.viewer {
  @include mx-auto;
  @include flex-row;
  @include viewer-border;
  border-radius: 0rem 4rem 4rem 0rem;
  overflow: hidden;

  width: 90%; //TODO: this is temporary
  height: 44rem; //TODO: this is temporary

  --viewer-inner-pad: 3rem;

  &--content {
    width: 100%;
    background-image: linear-gradient($col-darker $b-width, transparent $b-width), linear-gradient(90deg, $col-darker $b-width, transparent $b-width);
    background-size: $grid-size $grid-size; /* Size of the grid */
    // opacity: 0.3; /* Overall opacity of the div */
    // animation: backgroundMove 6s linear infinite; /* Adjust timing as needed */
  }
}

@keyframes backgroundMove {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: $grid-size #{-$grid-size}; /* Shift background to the left and up */
  }
}

.viewer .sidebar {
  @include viewer-border(right);
  @include col-width(4);

  &--panel {
    padding: calc(var(--viewer-inner-pad) * 0.725) var(--viewer-inner-pad);
    @include viewer-border(bottom);
  }

  &--button {
    @include flex-row;
    @include trans;
    @include hover {
      background-color: $col-primary;
      cursor: pointer;
    }
  }

  &--index {
    color: $col-primary;
    margin-right: 1rem;
    @include trans;
    @include hover(".sidebar--button", ".sidebar--index") {
      color: $col-background;
    }
  }
  &--name {
    color: $col-dim;
    margin-right: 1rem;
    @include trans;
    @include hover(".sidebar--button", ".sidebar--name") {
      color: $col-light;
    }
  }

  &--title {
    padding: calc(var(--viewer-inner-pad) * 0.65) var(--viewer-inner-pad);
  }
}

.viewer {
  --underline-width: 0.0625rem;

  &__underline {
    // TODO: Underline
  }
}
